footer {
    padding: 2rem 2rem;
    margin: 0 auto;
    max-width: 1480px;
}

.contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.ul-social-li [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
}

.ul-social-li {
    display: inline-block;
    margin: 1rem 2rem;
}

.ul-social-li a {
    display: flex;
    padding: 0.5rem;
}

.ul-social-li [class*="fa-"] {
    font-size: 200%;
}

.ul-social-li [class*="fa-"]:hover {
    color: var(--lightAqua);
}