html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--fontSize);
    font-family: var(--sans);
    color: var(--white);
    background-color: var(--black);
}

ul {
    list-style: none;
}

a {
    color: var(--magenta);
    text-decoration: none;
}

a:hover {
    color: var(--hotmag);
}