header {
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 1480px;
    background-color: var(--black);
}

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-menu-logo {
    flex-basis: 100%;
    text-align: center;
    font-family: var(--sans);
}

.nav-menu-logo h1 a:hover {
    text-decoration: none;
}

.nav-menu-logo span {
    font-size: calc(var(--fontSize)*0.80);
    text-transform: uppercase;
}

.nav-menu a {
    display: block;
    padding: 0.5rem;
    font-size: calc(var(--fontSize)*0.85);
    color: var(--white);
}

.nav-menu a:hover,
.nav-menu [class*="fa-"]:hover {
    color: var(--magenta);
    text-decoration: underline;
}

.nav-menu [class*="fa-"]:hover {
    text-decoration: none;
}

.nav-menu .menu-link-btn:hover {
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--hotmag);
}

@media screen and (min-width: 880px) {
    .nav-menu-logo h1 a {
        padding-left: 0;
    }

    .nav-menu li:first-child {
        flex-basis: initial;
        margin-right: auto;
    }
}