/*Top level of our HTML document*/


:root {
    --black: #171321;
    --darkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --lightAqua: #a4f7f7;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --fontSize: 1.3rem;
    --mono: 'Oxygen Mono',
        monospace;
    --sans: 'Oxygen',
        sans-serif;
}