.projects {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1480px;
    background-color: var(--darkblue);
}

.project {
    margin: 4rem 0;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.project-title {
    color: var(--aqua);
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.project-description {
    padding: 1rem;
    border-radius: 1rem;
    font-size: calc(var(--fontSize)*0.80);
    line-height: 1.5;
    background-color: var(--black);
}

.project-tools {
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: calc(var(--fontSize)*0.80);
    word-spacing: 0.25rem;
}

.project-img-wrapper img {
    display: block;
    width: 100%;
    height: 80%;
    border-radius: 1rem;
}

@media screen and (min-width: 550px) {
    .project {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(12, 1fr);
    }

    .project-text-wrapper {
        text-align: right;
        grid-area: 1 / 6 / 2 / 13;
        z-index: 1;
    }

    .project-img-wrapper {
        grid-area: 1 / 1 / 2 / 7;
    }

    .project:nth-of-type(2) .project-text-wrapper {
        text-align: left;
        grid-area: 1 / 1 / 2 / 8;
    }

    .project:nth-of-type(2) .project-img-wrapper {
        grid-area: 1 / 7 / 2 / 14;
    }
}