button {
    padding: 1rem;
}

.rating {
    display: none;
    outline: 1px solid black;
}

.rating_thankyou {
    display: none;
    outline: 1px solid red;
}

.show {
    display: block;
}

.btn-rating-active {
    padding: 2rem;
    background-color: red;
}