:root {
    --white: #ffffff;
    --yellow: #ee9b00;
    --brown: #9b2226;
    --orange: #bb3e03;
    --aqua: #00ffff;
    --blue: #005f73;
    --lightBlack: #001219;
    --black: #001219;
    --regularFont: 'Segoe UI', 'Tahoma', 'Verdana', 'sans-serif';
}