.bar-wrapper {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.day-wrapper {
    display: flex;
    gap: 0.5rem;
}

.bar {
    width: 3rem;
    border-radius: 0.25rem;
    background-color: var(--softRed);
}

.bar-span {
    padding: 0.25rem rem;
    height: 1rem;
    width: 2rem;
    color: var(--paleOrange);
    background-color: var(--darkBrown);
}

.bar:hover {
    background-color: var(--lightRed);
    cursor: pointer;
}

.day {
    text-align: center;
    width: 3rem;
}