main {
    width: 400px;
    border: 1px solid var(--white);
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
}

.screen-output {
    padding: 2rem;
    text-align: right;
}

.keyboard {
    display: flex;
    flex-flow: row wrap;
}

.btn {
    padding: 20px 5px;
    border: 1px solid var(--white);
    font-size: 2rem;
    background-color: var(--buttonNum);
}

.btn:first-of-type {
    flex-basis: 50%;
}

.btn:nth-of-type(n+2):nth-of-type(-n+15),
.btn:nth-of-type(17) {
    flex-basis: 25%;
}

.btn:nth-of-type(16) {
    flex-basis: 75%;
}

.btn_number:hover,
.btn_clear:hover,
.btn_back:hover {
    background-color: var(--buttonNumHover);
}

.btn_number:active {
    background-color: var(--buttonNumActive);
}

.btn_function {
    color: var(--white);
    background-color: var(--buttonFunction);
}

.btn_function:hover {
    background-color: var(--buttonFunctionHover);
}

.btn_function:active {
    background-color: var(--buttonFunctionActive);
}